de.unidue.ltl.escrito/de.unidue.ltl.escrito.examples/src/main/java/de/unidue/ltl/escrito/examples/local
de.unidue.ltl.escrito/de.unidue.ltl.escrito.core/src/main/java/de/unidue/ltl/escrito/core/api
de.unidue.ltl.escrito/de.unidue.ltl.escrito.integration.jack
